
h2, h3 {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  margin: 20px auto;
}

h2 {
  font-size: 30px;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  text-align: justify;
}